training_images.jpg
cnn_accuracy.jpg
cnn_matrix.jpg
cnn_results.jpg
transfer_learning_accuracy.jpg
transfer_learning_matrix.jpg
transfer_learning_results.jpg
transfer_learning_improved_accuracy.jpg
transfer_learning_improved_matrix.jpg
transfer_learning_improved_results.jpg
.gitignore
cnn_imporved_matrix.jpg
cnn_improved_accuracy.jpg
cnn_improved_results.jpg
